        body {
            margin: 0;
            background: black;
            overflow: auto;
        }
        
        #title {
            position: absolute;
            width: 80%;
            height: 7%;
            text-align: center;
            background-color: #222222;
            top: 1%;
            left: 8%;
            right: 12%;
            overflow: hidden;
            float: left;
        }
        
        #title_left {
            position: absolute;
            width: 7%;
            height: 7%;
            text-align: center;
            background-color: #222222;
            top: 1%;
            left: 1%;
            right: 92%;
            overflow: hidden;
            float: left;
        }
        /*for selection*/
        
        #title_right {
            position: absolute;
            width: 11%;
            height: 7%;
            text-align: center;
            background-color: #222222;
            top: 1%;
            left: 88%;
            right: 1%;
            overflow: hidden;
            float: left;
        }
        
        #left {
            position: absolute;
            top: 9%;
            left: 1%;
            bottom: 7%;
            width: 18%;
            height: 84%;
        }
        
        #left1 {
            position: relative;
            width: 100%;
            height: 20%;
            text-align: center;
            background-color: #222222;
            margin-bottom: 4%;
        }
        
        #left2 {
            position: relative;
            width: 100%;
            height: 79%;
            text-align: center;
            background-color: #222222;
            overflow: auto;
        }
        
        #center {
            position: absolute;
            top: 9%;
            bottom: 7%;
            left: 20%;
            right: 30%;
            width: 50%;
            height: 84%;
        }
        
        #map {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: black;
        }
        
        #progress {
            position: absolute;
            top: 94%;
            width: 98%;
            height: 5%;
            background-color: #222222;
            left: 1%;
            right: 1%;
        }
        
        #right {
            position: absolute;
            top: 9%;
            right: 1%;
            left: 71%;
            bottom: 7%;
            width: 28%;
            height: 84%;
        }
        
        #right12 {
            position: relative;
            width: 100%;
            height: 60%;
            text-align: center;
            background-color: #222222;
            overflow: auto;
            float: left;
        }
        /* #right1 {
            position: relative;
            width: 49%;
            height: 60%;
            text-align: center;
            background-color: #222222;
            overflow: auto;
            margin-right: 1%;
            float: left;
        }
        
        #right2 {
            position: relative;
            width: 49%;
            height: 60%;
            text-align: center;
            background-color: #222222;
            overflow: auto;
            margin-left: 1%;
            float: right;
        } */
        
        #divisor_x_right {
            position: relative;
            background-color: black;
            width: 100%;
            height: 1.2%;
            float: left;
        }
        
        #right3 {
            position: relative;
            width: 100%;
            height: 39%;
            text-align: center;
            background-color: #222222;
            overflow: auto;
        }
        
        #divisor_x_top1 {
            position: absolute;
            top: 0%;
            bottom: 99%;
            width: 100%;
            height: 1%;
            background-color: black;
        }
        
        #divisor_x_top2 {
            position: absolute;
            top: 8%;
            bottom: 91%;
            width: 100%;
            height: 1%;
            background-color: black;
        }
        
        #divisor_x_bottom1 {
            position: absolute;
            top: 99%;
            bottom: 0%;
            width: 100%;
            height: 1%;
            background-color: black;
        }
        
        #divisor_x_bottom2 {
            position: absolute;
            top: 93%;
            bottom: 6%;
            width: 100%;
            height: 1%;
            background-color: black;
        }
        /* font */
        
        p.title {
            font-family: "Arial";
            font-size: 30px;
            letter-spacing: 4px;
            color: #d6d6d6;
            line-height: 0px;
        }
        
        p.left1_1 {
            font-family: "Arial";
            font-size: 20px;
            color: white;
            margin: 0 auto;
            line-height: 50pt;
        }
        
        p.left1_2 {
            font-family: "Arial";
            font-size: 40px;
            color: #f02512;
            font-weight: bold;
            margin: 0 auto;
        }
        
        p.left2_1 {
            font-family: "Arial";
            font-size: 15px;
            color: #d6d6d6;
            margin: 0;
            line-height: 30pt;
        }
        /* for progress */
        
        input[type="range"] {
            border-radius: 5px;
            position: relative;
            -webkit-appearance: none !important;
            outline: none;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 35px;
            height: 35px;
            margin-top: -13px;
            /*使滑块超出轨道部分的偏移量相等*/
            /*border-radius: 50%;*/
            background: url("./pics/bingdu_logo.png");
            background-size: cover;
        }
        
        input[type=range]::-webkit-slider-runnable-track {
            height: 10px;
            border-radius: 5px;
            /*将轨道设为圆角的*/
            box-shadow: 0 1px 1px #383636, inset 0 .125em .125em #0d1112;
            /*轨道内置阴影效果*/
            /* background: linear-gradient(0deg, #000 20%, #f00 50%, #090 80%); */
        }
        
        input[type=range]:focus {
            outline: none;
        }
        /* fire fox 
        input[type=range]::-moz-range-progress {
            background: linear-gradient(to right, #059CFA, white 100%, white);
            height: 13px;
            border-radius: 10px;
        }
        refer: https://blog.csdn.net/weixin_38930535/article/details/79542130
        */
        /* for selection */
        
        select {
            border: none;
            outline: none;
            margin-top: 18px;
            margin-right: 5px;
            line-height: 0.40rem;
            padding-left: 0.1rem;
            background: none;
            color: #ffffff;
            font-style: normal;
            font-weight: bold;
            /* background: url("./pics/select_logo.png") no-repeat right #222222; */
            /* background-size: 10; */
        }
        
        option {
            border: none;
            outline: none;
            background-color: #000000;
            color: #ffffff;
            font-weight: bold;
        }
        /* .select_style {
            margin-top: 12px;
            margin-right: 5px;
            /* background: #222222
            background: url("./pics/select_logo.png") no-repeat right #ddd;
            height: 28px;
            width: 180px;
            line-height: 28px;
            border: none;
            outline: none;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #000000;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;

            color: #000000;
        } */
        
        img {
            /* position:absolute;   <! 绝对位移> */
            left: 5px;
            top: 0px;
            margin: 0;
        }